<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="webSocketAdress" value="wss://192.168.1.123:901/"/>
    <add key="webSocketAdressIP" value="192.168.1.123"/>
    <add key="webSocketAdressPort" value="9527"/>
    <add key="WebSocketAddressPortSecure" value="901"/>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration> 
